.profile__descr {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .profile__descr {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
  }
}
