.card__icon {
  width: 30px;
  height: 19px;
  margin-left: 20px;
  background-color: transparent;
  background-image: url(../../../images/icon-disabled.svg);
  background-size: 22px 19px;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
}

.card__icon:hover {
  opacity: .5;
}
